$color: darkcyan;
$font-size: 2rem;
.btn{
    width: 200px;
    border: none;
    background: darkcyan;
    color: wheat;
    padding: 1rem;
    margin: 1rem;
    font-size: $font-size;
    outline: none;
    user-select: none;
}
p{
    color: $color;
}